/**
 * index.scss
 * - Add any styles you want here!
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Noto+Serif');
 
 $font-primary: 'Open Sans', sans-serif;
 $font-secondary: 'Noto Serif', serif;
 
 *, *:after, *:before {
   box-sizing: border-box;
 }
 
 body {
   background: #eee;
   font-family: $font-primary;
   font-size: 18px;
   color: #555;
   line-height: 1.5;
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-family: $font-secondary;
   font-weight: 400;
   line-height: 1.2;
   color: #222;
   
   + p, + ul, + ol, + h1, + h2, + h3, + h4, + h5, + h6 {
     margin-top: 20px;
   }
   
   .page-header & {
     color: #111;
   }
 }
 
 h1 {
   font-size: 40px;
   
   @media (min-width: 768px) {
     font-size: 60px;
   }
 }
 
 h2 {
   font-size: 36px;
   
   @media (min-width: 768px) {
     font-size: 48px;
   }
 }
 
 h3 {
   font-size: 26px;
   
   @media (min-width: 768px) {
     font-size: 36px;
   }
 }
 
 h4 {
   font-size: 24px;
   
   @media (min-width: 768px) {
     font-size: 28px;
   }
 }
 
 h5 {
   font-size: 22px;
 }
 
 h6 {
   font-size: 18px;
 }
 
 a {
   color: #111;
   text-decoration: none;
   
   &:hover {
     text-decoration: underline;
   }
 }
 
 p, ul, ol {
   margin: 0;
   
   + p, + ul, + ol, + h1, + h2, + h3, + h4, + h5, + h6 {
     margin-top: 20px;
   }
 }
 
 .text-center {
   text-align: center;
 }
 
 .container {
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
 }
 
 .page-header {
   padding: 60px 0 30px;
   border-bottom: solid 1px #ddd;
 }
 
 .archive {
   padding: 60px 0;
       
   @media (min-width: 768px) {
     padding-bottom: 120px;
   }
   
   &-article {
     display: flex;
     
     @media (max-width: 767px) {
       flex-direction: column;
     }
     
     &.full {
       flex-direction: column;
     }
     
     & + & {
       margin-top: 60px;
     }
     
     &-meta {
       @media (min-width: 768px) {
         width: 360px;
         padding-right: 30px;
         border-right: solid 1px #ddd;
       }
       
       .full & {
         width: auto;
         border: none;
         padding: 0;
       }
     }
     
     &-primary {
       @media (min-width: 768px) {
         padding: 0 0 3px 30px;
       }
       
       .full & {
         padding: 0;
       }
     }
     
     &-title {
       a {
         color: inherit;
       }
     }
     
     &-thumbnail {
       img {
         max-width: 100%;
         display: block;
         border-radius: 3px;
         
         .full & {
           margin: 30px auto;
         }
       }
     }
     
     &-date {
       padding: 10px 0;
       font-size: 16px;
       font-style: italic;
       color: #666;
       line-height: 1.2;
       
       @media (min-width: 768px) {
         text-align: right;
       }
       
       .full & {
         text-align: left;
       }
       
       .month-day, .year {
         white-space: nowrap;
       
         @media (min-width: 768px) {
           display: block;
         }
       
         .full & {
           display: inline;
         }
       }
       
       .month-day {
         @media (max-width: 767px) {
           &:after {
             content: ',';
           }
         }
       
         .full &:after {
           content: ',';
         }
       }
     }
   }
 }

 .not-found {
    font-size:200px;
    color:#999;
    font-weight:bold;
    text-align:center;
  }